*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Lexend Deca";
}

#logo{
  width: 3rem;
  padding: 0.2rem;
}

.nav-bar{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1rem;
}

.clone{
  position: relative;
}

.clone::after{
  content: "clone";
  display: inline;
  font-size: 1rem;
  background-color: black;
  color: white;
  padding: 0.1rem 0.2rem;
  border-radius: 6px;
  position: absolute;
  top: -50%;
  left: 5px;
}

main{
  margin-left: 2rem;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.user-input-box{
  border: 1.3px solid #000000;
  border-radius: 8px;
  padding: 0.6rem 1.5rem;
  min-width: 50%;
}

button{
  all: unset;
}

.btn{
  padding: 0.7rem 1rem;
  border-radius: 8px;
}

.btn:hover, .btn:active{
  transform: scale(0.95,  0.95)
}

.btn-black{
  background-color: #000000;
  color: white;
}

.ingredient-form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}