*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(20, 53, 53);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.container{
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
}

input{
  padding: 10px 20px;
  margin: 0 20px ;
}

button{
  padding: 10px 30px;
  background-color: darkcyan;
  color: white;
}